<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top : 50px;">
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          To Do List
        </a>
      </div>
    </div>
  </nav>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New To Do</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>To Do</label>
        <input type="text" class="form-control" >
      </div>
      <button class="btn btn-default" (click)="AddToDo()" ><b>+</b> Add To Do</button>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">To Do List</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>To Do</th>
          <th></th>
        </tr>
        <tr>
          <td>First Task</td>
          <td>
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </button>
          </td>
        </tr>
        <tr>
            <td>First Task</td>
            <td>
                <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </td>
          </tr>
      </table>
    </div>
  </div>

</div>
